<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buen día, <%= @user.name %></h1>
    <p>
      Has solicitado un cambio de contraseña, si deseas hacerlo dale click al siguiente enlace, <%= @URL %>
    </p>
    <p>
      Si no has sido tú, omita este correo y verifique por favor la seguridad de su cuenta.
    </p>
  </body>
</html>