<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buen día, <%= @user.name %></h1>
    <p>
      Haz realizado una solicitud de cambio de foto de perfil, la cual se realizó satisfactoriamente en Luckyread.%>.<br>
    </p>
    <p>¡Esperamos que tengas un buen día!</p>
  </body>
</html>