<h1>Welcome to lukyread, <%= @user.username %></h1>
  <p>
    You have successfully signed up to lukyread
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>