<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body><table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	<tr>
		<td style="background-color: #ecf0f1; text-align: left; padding: 0">
			<a href=http://www.lucky-read.com/>
				<img width="20%" style="display:block; margin: 1.5% 3%" src="https://s16.postimg.org/arsbkbzlh/poketrainers.png">
			</a>
		</td>
	</tr>	
	<tr>
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #e67e22; margin: 0 0 7px">Bienvenido a Luckyread, <%= @user.name %></h2>
				<p style="margin: 2px; font-size: 15px">
        Te has registrado satisfactoriamente a Luckyread, tu nombre de usuario es: <%= @user.username %></p>
        <p style="margin: 2px; font-size: 15px">
        ¡Gracias por unirte y hacer parte de esta gran familia, esperamos que tengas un buen día!</p>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">Te saluda LuckyRead</p>
			</div>
		</td>
	</tr>
</table>
  </body>
</html>