<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Luckyread, <%= @user.name %></h1>
    <p>
      Te has registrado satisfactoriamente a Luckyread,
      Tu nombre de usuario es: <%= @user.username %>.<br>
    </p>
    <p>¡Gracias por unirte y hacer parte de esta gran familia, esperamos que tengas un buen día!</p>
  </body>
</html>